#set ($contentCentered = $contentCentered.getData())

#if ($backgroundImage)
    <div class="fullHeight" style="background:url($backgroundImage.getData()) no-repeat center center; background-size:cover;">
#else
    <div class="fullHeight">
#end

#if ($contentCentered == "yes")
	    <div class="fullCenter fullWinCenter">
#end

${content.getData()}

#if ($contentCentered == "yes")
    	</div>
#end

    </div>